/* Mặc định */
* {
    padding: 0;
    margin: 0;

}
body {
    font-family: 'Poppins', arial;
}
/* Thanh điều hướng */
#navbar {
    position: fixed;
    display: flex;
    justify-content: flex-end;  
    top: 0%;
    width: 100%;
    background: linear-gradient(to left, #0f2027, #203a43, #2c5364);
}
.nav-list {
    display: flex;
    list-style: none;
}
.nav-list li a { 
    
    color:whitesmoke;
    display: block;
    padding: 15px 25px;
    font-size: 25px;
    text-decoration: none;
}
.nav-list li a:hover {
    color: rgb(250, 243, 184);
    }
/* Thân bài */
#welcome-section {
    text-align: center;
    font-size: 40px;
    height: 500px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    background-color: black;
    color: whitesmoke;
    padding-left: 20%;
}
#projects {
    background-color: black;
    color: whitesmoke

}

.project-tile {

}
/* Chân trang */
footer {
    background: black   ;
}