* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: RGB(236, 232, 231);
    scroll-behavior: smooth;


}
body {
    background: rgb(50,44,44);
    font-family: 'Roboto', sans-serif;
    font-size: 1em; 
    width: 100%;
}

.icon {
    width: 100px;

}

.row {
    display: flex;
    justify-content: center;
    padding: 30px;

}


.nav-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    background: black;
    position: fixed;
    width: 100%;
}
    
.nav-btn a {
    text-decoration: none;
    padding: 15px 25px;
    display: flex;
    font-size: 14px;
    cursor: pointer;
    background: black;

}

.nav-btn a:hover {
    color: goldenrod;
    
}

.intro-title {
    font-size: 40PX;
    padding: 35px 0 20px 0;
    font-weight: 800;

}

.intro-sub-title {
    font-size: 20px;
    font-style: italic;
    font-weight: 200;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px;
}

.avatar {
    border-radius: 25px;
    height: 200px;
}

.section {
    text-align: center ;
    background: rgba(0, 0, 0, 30%);
    border-radius: 8px;
}
  
.section-title {
    font-size: 40px;
    padding: 40px;
    background: black;
    margin-bottom: 20px;
}

.about-text {
    padding: 100px 25%;
    font-weight: 300;
    line-height: 1.5;
}

.detail {
    display: flex;  
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.h2-title {
    padding: 20px 0;
}


.job,
.edu, 
.skills {
    width: 60%;
    padding: 30px;
    background: #333;
    border-radius: 7px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    transition: .4s;
}
 
.job:hover {
    transform: scale(1.03, 1.03);
    cursor: pointer;
}

.edu:hover {
    transform: scale(1.03, 1.03);
    cursor: pointer;

}

.date ,
.name ,
.school {
    display: block;
    text-align: left;
}

.date {
    font-size: 12px;
    color: white;
    margin-bottom: 10px;
    font-weight: 700;
}

.name {
    font-size: 20px;
    color: goldenrod;
    font-weight: 300;
    margin-bottom: 1rem;
}

.school {
    color :rgba(255,255,255,.3);
    font-size: 16px;
}




.skills-name {
    border: 2px solid rgba(255,255,255,.3);
    color:  rgba(255,255,255,.3);;
    padding: 10px;
    margin: 5px;
    min-width: 90px;
    border-radius: 6px;
}

.skills-name:hover {
    border: 2px solid gold;
    color: gold;
    transition: color .7s , border .7s;
    cursor: pointer;
}

.project {
    width: 33.33%;
    transition: .5s;

}

.project-pic {
    width: 280px;
    transition: .5s;
}

.project:hover {
    transform: scale(1.03, 1.03);
    cursor: pointer;
}